/* color palette in white and blue tones */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f0f8ff; /* Alice Blue */
  --vt-c-white-mute: #e6f2ff; /* Light Blue */

  --vt-c-blue: #0074d9; /* Vivid Blue */
  --vt-c-blue-soft: #85c1e9; /* Soft Blue */
  --vt-c-blue-mute: #d4e6f1; /* Mute Blue */

  --vt-c-divider-light-1: #0044cc; /* Semi-transparent blue */
  --vt-c-divider-light-2: rgba(0, 116, 217, 0.2); /* Lighter transparent blue */

  --vt-c-text-light-1: var(--vt-c-blue);
  --vt-c-text-light-2: rgba(0, 116, 217, 0.6); /* Muted Blue Text */
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-2);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
